@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
 }
 #icon{
    width:30px;
    cursor:pointer;
    margin-left: 4rem;
    padding-top: 2px;
 }
 :root {
     --bg-color: #fff;
     --seconde-bg-color: rgba(201, 207, 220, 0.933);
     --text-color: #000;
 
     --main-color: #fd4766;
     --shadow-color: #808080;
 }
.dark-theme{
--text-color:white;
    --bg-color:black;
    --seconde-bg-color: rgb(50,45,33);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
} 

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/*****header****/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 650;
    cursor: pointer;
}



.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3;
}
.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img{
    width: 32vw;
    transition: 0.3s ease;
   
}
.home-img img:hover{
        transform: scale(1.05);

}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

      #text-container {
      overflow: hidden;
      white-space: nowrap;
      font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    
      background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    .border {
      border-right: 2px solid #ffffff;
      animation: typing 2s steps(40, end);
    }

.home-content h1 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.8;
}
.home-content p {
    font-size: 1.6rem;
    margin-inline-end: 40%;
}
span{
    color: var(--main-color);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--seconde-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn-container .btn{
    display: inline-block;
    margin: 0 2rem 0 0;

}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
#download-btn{
    border: .2rem solid var(--main-color);
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn:hover,#download-btn:hover{
    box-shadow: none;
}

/*********************about******************/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.about-img img{
    width: 28vw;
    transition: 0.3s ease;
   box-shadow: 3px 8px 6px 
   #00000075;
   border-radius: 2%;
 
}


.about-img img:hover{
    transform: scale(1.05);
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
    margin: 1.6rem 0;
}
.about-content p {
    font-size: 1.6rem;
    margin: 1rem 3rem 3rem 0;
}

.tab-titles{
    display:flex;
    margin:20px 0 40px;

}
.tab-links{

    margin-right: 50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background: #fd4766;;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    /* list-style: none; */
    margin: 10px 0 ;
}
.tab-contents ul li{
    font-size: small;
}

.tab-contents ul li span{
    color:#ef306d;
    font-size:medium;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/**********************skills****************/


.box{
    background-color: rgba(201, 207, 220, 0.933);
    padding: 23px;
    border-radius: 5px;
    width: 600px; /* Adjust the width as needed */
    margin: 35px;
    transition: ease-in-out 0s;
    flex-wrap: wrap;
    display: flex;
    background: var(--seconde-bg-color);

}
.services {    
    text-align:center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.services-box{
    padding-left: 24%;
  
}

.box img{
transition: 0.3s ease;
width: 50px; /* Adjust the width as needed */
height: 50px;


}

.box img:hover{
    transform: scale(1.22);

}

 
.box{
transition: 0.3s ease;
}
    
.box:hover{
transform: scale(1.05);
}

.box b{color:  var(--text-color);}

/***********portfolio****************/
.portfolio h2 {
    margin-bottom: 2rem;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.portfolio-container .portfolio-card {
    flex: 1 1 30rem;
  
    color: black;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;

}

.portfolio-container .portfolio-card:hover {
    border: .2rem solid var(--main-color);
    transform: scale(1.02);
 
}
.portfolio-card h3 {
    font-size: 2rem;
    color:  var(--text-color);
}
.portfolio-card img {
    width: 80%;
    height: 50%;
    margin: 2rem 0;

}

.portfolio-details p{
   font-size: larger;
   color:  var(--text-color);
}

 .portfolio-card .btn{
margin-top: 10px;
margin-bottom: 10px;
} 


/*************contact*********/
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--seconde-bg-color);
    border-radius: .8rem;
    margin: .7rem 0 ;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}



/******footer********/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--seconde-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
    color:  var(--text-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}

/***breakPoints ****/
@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    .section {
        padding: 10rem 3% 2rem;
    } 
    .footer {
        padding: 2rem  3%;
    }
}

@media (max-width:600px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
    .navbar{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}


@media (max-width:1048px){
.header{
    font-size: 32px;
    padding-left:60px;
}
.navbar a {
    margin-right:20x; 
    font-size:17px ;
}
}

